
<button class="btn btn-fraktur-antiqua" title="Toggle font type">
    <svg 
      class="frakturA"
      xmlns="http://www.w3.org/2000/svg"
      width="1.4em"
      height="1.4em"
      viewBox="0 0 25 40">
      <text
        x="12.5"
        y="38"
        font-size="45"
        font-weight="bold"
        font-family="Unifraktur Maguntia"
        text-anchor="middle"
        fill="#fff"
        stroke="none">
          A
      </text>
    </svg>
    <svg
      class="antiquaA"
      xmlns="http://www.w3.org/2000/svg"
      width="1.4em"
      height="1.4em"
      viewBox="0 0 25 40"
    >
      <text
        x="12.5"
        y="35"
        font-size="45"
        font-weight="bold"
        font-family="Garamond"
        text-anchor="middle"
        fill="#fff"
        stroke="none">
          A
      </text>
    </svg>
</button>
